@model GuiLayer.Models.ProductItemModel
@using System.Collections;
@{
    ViewBag.Title = "Prekės";
}

<h2>Prekių sąrašas</h2>

@foreach (var product in Model.Products)
{
    <table class="item">
        <tr>
            <td>@product.Name</td>
        </tr>
        <tr>
            <td>
                <img src="http://www.lptps.com/wp-content/uploads/2016/11/asus-zenbook-ux390ua.jpg" alt="Laptop" width="60" height="42">
            </td>
        </tr>
        <tr>
            <td>@product.Price @LibraryLayer.Enums.Currency.EUR</td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm("AddToBasket", "Basket", new { itemId = product.Id}, FormMethod.Post, null))
                {
                    <button type="submit" value="@product.Id" class="toBasket btn btn-default">Į krepšelį</button>
                }
                    
            </td>
        </tr>
    </table>
}
